src/conf/xml-resources/web-service-references/ShareBrokering/wsdl/localhost_8080/ShareBrokering/ShareBrokering.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://sharebrokering.sccc.grimlock257.io/" xmlns:ns2="http://grimlock257.github.io/Stocks/Users" xmlns:ns1="http://grimlock257.github.io/Stocks" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sharebrokering.sccc.grimlock257.io/">

<xs:import namespace="http://grimlock257.github.io/Stocks" schemaLocation="http://localhost:8080/ShareBrokering/ShareBrokering?xsd=3"/>

<xs:import namespace="http://grimlock257.github.io/Stocks/Users" schemaLocation="http://localhost:8080/ShareBrokering/ShareBrokering?xsd=2"/>

<xs:element name="addShare" type="tns:addShare"/>

<xs:element name="addShareResponse" type="tns:addShareResponse"/>

<xs:element name="deleteShare" type="tns:deleteShare"/>

<xs:element name="deleteShareResponse" type="tns:deleteShareResponse"/>

<xs:element name="depositFunds" type="tns:depositFunds"/>

<xs:element name="depositFundsResponse" type="tns:depositFundsResponse"/>

<xs:element name="getAllStocks" type="tns:getAllStocks"/>

<xs:element name="getAllStocksResponse" type="tns:getAllStocksResponse"/>

<xs:element name="getStockBySymbol" type="tns:getStockBySymbol"/>

<xs:element name="getStockBySymbolResponse" type="tns:getStockBySymbolResponse"/>

<xs:element name="getUserFunds" type="tns:getUserFunds"/>

<xs:element name="getUserFundsResponse" type="tns:getUserFundsResponse"/>

<xs:element name="getUserStocks" type="tns:getUserStocks"/>

<xs:element name="getUserStocksResponse" type="tns:getUserStocksResponse"/>

<xs:element name="loginUser" type="tns:loginUser"/>

<xs:element name="loginUserResponse" type="tns:loginUserResponse"/>

<xs:element name="modifyShare" type="tns:modifyShare"/>

<xs:element name="modifyShareResponse" type="tns:modifyShareResponse"/>

<xs:element name="purchaseShare" type="tns:purchaseShare"/>

<xs:element name="purchaseShareResponse" type="tns:purchaseShareResponse"/>

<xs:element name="registerUser" type="tns:registerUser"/>

<xs:element name="registerUserResponse" type="tns:registerUserResponse"/>

<xs:element name="searchShares" type="tns:searchShares"/>

<xs:element name="searchSharesResponse" type="tns:searchSharesResponse"/>

<xs:element name="sellShare" type="tns:sellShare"/>

<xs:element name="sellShareResponse" type="tns:sellShareResponse"/>

<xs:element name="withdrawFunds" type="tns:withdrawFunds"/>

<xs:element name="withdrawFundsResponse" type="tns:withdrawFundsResponse"/>

<xs:complexType name="getAllStocks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllStocksResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Stock" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="withdrawFunds">
<xs:sequence>
<xs:element name="guid" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="withdrawFundsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerUser">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserStocks">
<xs:sequence>
<xs:element name="guid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserStocksResponse">
<xs:sequence>
<xs:element name="return" type="tns:userStock" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userStock">
<xs:sequence>
<xs:element name="stockName" type="xs:string" minOccurs="0"/>
<xs:element name="stockSymbol" type="xs:string" minOccurs="0"/>
<xs:element name="availableShares" type="xs:double"/>
<xs:element name="price" type="ns1:SharePrice" minOccurs="0"/>
<xs:element name="userPurchaseCurrency" type="xs:string" minOccurs="0"/>
<xs:element name="userQuantity" type="xs:double"/>
<xs:element name="userPurchaseValue" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositFunds">
<xs:sequence>
<xs:element name="guid" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositFundsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addShare">
<xs:sequence>
<xs:element name="stockName" type="xs:string" minOccurs="0"/>
<xs:element name="stockSymbol" type="xs:string" minOccurs="0"/>
<xs:element name="availableShares" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addShareResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseShare">
<xs:sequence>
<xs:element name="guid" type="xs:string" minOccurs="0"/>
<xs:element name="companySymbol" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseShareResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUser">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:loginResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="successful" type="xs:boolean"/>
<xs:element name="guid" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="ns2:Role" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStockBySymbol">
<xs:sequence>
<xs:element name="companySymbol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStockBySymbolResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Stock" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sellShare">
<xs:sequence>
<xs:element name="guid" type="xs:string" minOccurs="0"/>
<xs:element name="companySymbol" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sellShareResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchShares">
<xs:sequence>
<xs:element name="stockName" type="xs:string" minOccurs="0"/>
<xs:element name="stockSymbol" type="xs:string" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
<xs:element name="sharePriceFilter" type="xs:string" minOccurs="0"/>
<xs:element name="sharePrice" type="xs:double"/>
<xs:element name="sortBy" type="xs:string" minOccurs="0"/>
<xs:element name="order" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSharesResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Stock" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteShare">
<xs:sequence>
<xs:element name="stockSymbol" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteShareResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserFunds">
<xs:sequence>
<xs:element name="guid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserFundsResponse">
<xs:sequence>
<xs:element name="return" type="tns:fundsResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fundsResponse">
<xs:sequence>
<xs:element name="availableFunds" type="xs:double"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyShare">
<xs:sequence>
<xs:element name="stockName" type="xs:string" minOccurs="0"/>
<xs:element name="currentStockSymbol" type="xs:string" minOccurs="0"/>
<xs:element name="newStockSymbol" type="xs:string" minOccurs="0"/>
<xs:element name="availableShares" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyShareResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>