src/conf/xml-resources/web-service-references/ShareBrokering/wsdl/localhost_8080/ShareBrokering/ShareBrokering.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sharebrokering.sccc.grimlock257.io/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sharebrokering.sccc.grimlock257.io/" name="ShareBrokering">
<types>
<xsd:schema>
<xsd:import namespace="http://sharebrokering.sccc.grimlock257.io/" schemaLocation="http://localhost:8080/ShareBrokering/ShareBrokering?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://grimlock257.github.io/Stocks/Users" schemaLocation="http://localhost:8080/ShareBrokering/ShareBrokering?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://grimlock257.github.io/Stocks" schemaLocation="http://localhost:8080/ShareBrokering/ShareBrokering?xsd=3"/>
</xsd:schema>
</types>
<message name="withdrawFunds">
<part name="parameters" element="tns:withdrawFunds"/>
</message>
<message name="withdrawFundsResponse">
<part name="parameters" element="tns:withdrawFundsResponse"/>
</message>
<message name="sellShare">
<part name="parameters" element="tns:sellShare"/>
</message>
<message name="sellShareResponse">
<part name="parameters" element="tns:sellShareResponse"/>
</message>
<message name="depositFunds">
<part name="parameters" element="tns:depositFunds"/>
</message>
<message name="depositFundsResponse">
<part name="parameters" element="tns:depositFundsResponse"/>
</message>
<message name="purchaseShare">
<part name="parameters" element="tns:purchaseShare"/>
</message>
<message name="purchaseShareResponse">
<part name="parameters" element="tns:purchaseShareResponse"/>
</message>
<message name="addShare">
<part name="parameters" element="tns:addShare"/>
</message>
<message name="addShareResponse">
<part name="parameters" element="tns:addShareResponse"/>
</message>
<message name="searchShares">
<part name="parameters" element="tns:searchShares"/>
</message>
<message name="searchSharesResponse">
<part name="parameters" element="tns:searchSharesResponse"/>
</message>
<message name="deleteShare">
<part name="parameters" element="tns:deleteShare"/>
</message>
<message name="deleteShareResponse">
<part name="parameters" element="tns:deleteShareResponse"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="loginUser">
<part name="parameters" element="tns:loginUser"/>
</message>
<message name="loginUserResponse">
<part name="parameters" element="tns:loginUserResponse"/>
</message>
<message name="getAllStocks">
<part name="parameters" element="tns:getAllStocks"/>
</message>
<message name="getAllStocksResponse">
<part name="parameters" element="tns:getAllStocksResponse"/>
</message>
<message name="getStockBySymbol">
<part name="parameters" element="tns:getStockBySymbol"/>
</message>
<message name="getStockBySymbolResponse">
<part name="parameters" element="tns:getStockBySymbolResponse"/>
</message>
<message name="modifyShare">
<part name="parameters" element="tns:modifyShare"/>
</message>
<message name="modifyShareResponse">
<part name="parameters" element="tns:modifyShareResponse"/>
</message>
<message name="getUserStocks">
<part name="parameters" element="tns:getUserStocks"/>
</message>
<message name="getUserStocksResponse">
<part name="parameters" element="tns:getUserStocksResponse"/>
</message>
<portType name="ShareBrokering">
<operation name="withdrawFunds">
<input wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/withdrawFundsRequest" message="tns:withdrawFunds"/>
<output wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/withdrawFundsResponse" message="tns:withdrawFundsResponse"/>
</operation>
<operation name="sellShare">
<input wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/sellShareRequest" message="tns:sellShare"/>
<output wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/sellShareResponse" message="tns:sellShareResponse"/>
</operation>
<operation name="depositFunds">
<input wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/depositFundsRequest" message="tns:depositFunds"/>
<output wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/depositFundsResponse" message="tns:depositFundsResponse"/>
</operation>
<operation name="purchaseShare">
<input wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/purchaseShareRequest" message="tns:purchaseShare"/>
<output wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/purchaseShareResponse" message="tns:purchaseShareResponse"/>
</operation>
<operation name="addShare">
<input wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/addShareRequest" message="tns:addShare"/>
<output wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/addShareResponse" message="tns:addShareResponse"/>
</operation>
<operation name="searchShares">
<input wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/searchSharesRequest" message="tns:searchShares"/>
<output wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/searchSharesResponse" message="tns:searchSharesResponse"/>
</operation>
<operation name="deleteShare">
<input wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/deleteShareRequest" message="tns:deleteShare"/>
<output wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/deleteShareResponse" message="tns:deleteShareResponse"/>
</operation>
<operation name="registerUser">
<input wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
<operation name="loginUser">
<input wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/loginUserRequest" message="tns:loginUser"/>
<output wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/loginUserResponse" message="tns:loginUserResponse"/>
</operation>
<operation name="getAllStocks">
<input wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/getAllStocksRequest" message="tns:getAllStocks"/>
<output wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/getAllStocksResponse" message="tns:getAllStocksResponse"/>
</operation>
<operation name="getStockBySymbol">
<input wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/getStockBySymbolRequest" message="tns:getStockBySymbol"/>
<output wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/getStockBySymbolResponse" message="tns:getStockBySymbolResponse"/>
</operation>
<operation name="modifyShare">
<input wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/modifyShareRequest" message="tns:modifyShare"/>
<output wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/modifyShareResponse" message="tns:modifyShareResponse"/>
</operation>
<operation name="getUserStocks">
<input wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/getUserStocksRequest" message="tns:getUserStocks"/>
<output wsam:Action="http://sharebrokering.sccc.grimlock257.io/ShareBrokering/getUserStocksResponse" message="tns:getUserStocksResponse"/>
</operation>
</portType>
<binding name="ShareBrokeringPortBinding" type="tns:ShareBrokering">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="withdrawFunds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sellShare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="depositFunds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="purchaseShare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addShare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteShare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllStocks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStockBySymbol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifyShare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserStocks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ShareBrokering">
<port name="ShareBrokeringPort" binding="tns:ShareBrokeringPortBinding">
<soap:address location="http://localhost:8080/ShareBrokering/ShareBrokering"/>
</port>
</service>
</definitions>