src/conf/xml-resources/web-service-references/ShareBrokering/wsdl/localhost_8080/ShareBrokering/ShareBrokering.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://sharebrokering.sccc.grimlock257.io/" xmlns:ns1="http://grimlock257.github.io/Stocks" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sharebrokering.sccc.grimlock257.io/">

<xs:import namespace="http://grimlock257.github.io/Stocks" schemaLocation="http://localhost:8080/ShareBrokering/ShareBrokering?xsd=2"/>

<xs:element name="getAllStocks" type="tns:getAllStocks"/>

<xs:element name="getAllStocksResponse" type="tns:getAllStocksResponse"/>

<xs:element name="purchaseShare" type="tns:purchaseShare"/>

<xs:element name="purchaseShareResponse" type="tns:purchaseShareResponse"/>

<xs:element name="sellShare" type="tns:sellShare"/>

<xs:element name="sellShareResponse" type="tns:sellShareResponse"/>

<xs:complexType name="getAllStocks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllStocksResponse">
<xs:sequence>
<xs:element name="return" type="ns1:Stock" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sellShare">
<xs:sequence>
<xs:element name="companySymbol" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sellShareResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseShare">
<xs:sequence>
<xs:element name="companySymbol" type="xs:string" minOccurs="0"/>
<xs:element name="quantity" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="purchaseShareResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>